@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&family=Inter:wght@300;400;500;600&family=Jost:wght@300&display=swap");


.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_padding{
  padding: 4rem 6rem;
}


.app_bg{
  background: url(/bg1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.app_wrapper{
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  
}
